{sub_dirs, ["apps/db_session", "apps/game", "apps/client"]}.
{deps, [
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},
    {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", "master"}},
    {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", "master"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}}
]}.
